[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ":star: This VSTO Add-In creates a custom "
[access "refs/*"]
	owner = group user/@gaattccttaag (mjettp)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/@gaattccttaag (mjettp)
	label-Verified = -1..+1 group user/@gaattccttaag (mjettp)
	push = group user/@gaattccttaag (mjettp)
	read = group user/@gaattccttaag (mjettp)
	rebase = group user/@gaattccttaag (mjettp)
	removeReviewer = group user/@gaattccttaag (mjettp)
	submit = group user/@gaattccttaag (mjettp)
[access "refs/heads/*"]
	create = group user/@gaattccttaag (mjettp)
	push = +force group user/@gaattccttaag (mjettp)
	pushMerge = group user/@gaattccttaag (mjettp)
	read = group user/@gaattccttaag (mjettp)
[access "refs/tags/*"]
	push = group user/@gaattccttaag (mjettp)
	push = +force group user/@gaattccttaag (mjettp)
